<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width">
<meta name="_csrf" th:content="${_csrf.token}">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<link th:href="@{/css/home.css}" rel="stylesheet">
<link th:href="@{/css/quizset_index.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<title>QuizFund</title>
</head>
<body>
<v-app id="app" v-cloak>
	<div th:include="__${header}__">
	</div>

	<v-main>
		<v-container>
			<div class="quizlist__menu">
				<div>
					<v-btn color="primary" @click="createDialog = true">新規問題セット作成</v-btn>
					<v-btn color="primary" @click="toEditQuizlist">問題の作成・編集</v-btn>
				</div>
				<div class="search">
					<v-text-field ref="keywordInput" dense outlined placeholder="検索"></v-text-field>
					<v-btn color="primary" @click="keywordSearch">検索</v-btn>
				</div>
			</div>
		</v-container>

		<v-container class="mt-4">
			<div v-if="items.length == 0" style="text-align :center;">
				<p>問題セットがありません</p>
			</div>
			<div v-for="item in items" class="quizset-group mt-6">
				<div class="quizset-group__title"><span v-text="item.name"></span><span v-if="item.open" class="open-label">公開中</span></span></div>
				<div class="quizset-group__detail">
					<v-simple-table>
						<template v-slot:default>
						<thead>
							<th>全収録問題数</th>
							<th>出題問題数</th>
							<th>ランダム出題</th>
							<th>のべプレイ回数</th>
						</thead>
						<tbody>
							<td><span v-text="item.quizNum"></span></td>
							<td><span v-text="item.gameNum"></span></td>
							<td><span v-text="item.random ? '〇' : '×'"></span></td>
							<td><span v-text="item.playCount"></span></td>
						</tbody>
						</template>
					</v-simple-table>

					<div class="quizset-group__component">
						<div class="quizset-group__detail--item">
							説明: <span v-text="item.introduction"></span>
						</div>
					</div>
				</div>
				<div class="quizset-group__detail">
					<div class="quizset-group__component">
						<v-btn color="primary" class="mr-5" @click="openQuizset(item)" v-if="!item.open">公開する</v-btn>
						<v-btn color="primary" class="mr-5" @click="closeQuizset(item)" v-if="item.open">非公開にする</v-btn>
						<v-btn color="primary" class="mr-5" @click="toQuizsetEditor(item.id)">編集</v-btn>
					</div>
					<div class="quizset-group__component">
						<v-spacer></v-spacer>
						<v-btn color="error" class="mr-5" @click="editTarget = item ; confirmDeleteDialog = true">削除</v-btn>
					</div>
				</div>
			</div>
		</v-container>

		<v-dialog v-model="createDialog" max-width="600px">
				<template v-slot:activator="{ on, attrs }">
				</template>
				<v-card>
					<v-card-title>問題セットの新規作成</v-card-title>
					<v-divider></v-divider>
					<v-form action="/edit/quizset/create" method="POST" id="createForm">
					<input type="hidden" name="_csrf" :value="csrfToken">
					<v-container style="display:flex; align-items: center; flex-direction: column">
						<div style="width: 300px">
							<h2>問題セットの名前</h2>
							<v-textarea name="name"
							style="font-size: 24px;"
							:counter="100"
							outlined required>
							</v-textarea>
						</div>

						<div style="width: 300px;">
							<h2>問題セットの説明文</h2>
							<v-textarea name="intro"
							style="font-size: 24px;"
							:counter="200"
							outlined required>
							</v-textarea>
						</div>
					</v-container>
					<v-divider></v-divider>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="primary" @click="createDialog = false">戻る</v-btn>
						<v-btn type="submit" color="primary">登録</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-dialog v-model="confirmDeleteDialog" max-width="600px">
				<template v-slot:activator="{ on, attrs }">
				</template>
				<v-card>
					<v-card-title>問題セットの削除</v-card-title>
					<v-divider></v-divider>
					<v-container class="px-10" v-if = "editTarget">
						<h2>以下の問題セットを削除しますか？</h2>
						<span>問題セット名：</span>
						<v-card-text v-text="editTarget.name"></v-card-text>
						<span>問題セットの説明：</span>
						<v-card-text v-text="editTarget.intro"></v-card-text>
						<span v-text="'収録問題数：' + editTarget.quizNum"></span>
					</v-container>
					<v-divider></v-divider>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="primary" @click="confirmDeleteDialog = false">戻る</v-btn>
						<v-btn color="error" @click="deleteQuizset(editTarget.id) ; confirmDeleteDialog = false">削除</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
	</v-main>

	<div th:include="__${footer}__">
	</div>
</v-app>
<script th:src="@{/js/edit/quizset_index.js}" type="module"></script>
</body>
</html>