<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<link th:href="@{/css/home.css}" rel="stylesheet">

<title>Unknown Error</title>
</head>
<body>
<v-app id="app" v-cloak>
	<div th:include="~{header :: contents}">
	</div>

	<v-main id="main" class="loginBody">
	<div class="mt-12">
		<div style="display:flex; justify-content: center">
			<h1>予期しないエラー</h1>
		</div>
		<div style="display:flex; justify-content: center">
			<h1>Unknown Error Occured</h1>
		</div>
		<div style="display:flex; justify-content: center">
			<h1>🐘🐘🐘...</h1>
		</div>
	</div>
	</v-main>

	<div th:include="~{footer :: contents}">
	</div>

</v-app>
<script th:src="@{/js/common.js}" type="module"></script>
</body>
</html>